.post,
.post-date {
	margin-bottom: 2.5rem;
}

.post h2 {
	margin-top: 0;
	margin-bottom: 15px !important;
}

.post .post-content {
	margin-top: 15px;
	margin-bottom: 15px;
}

.post .post-content.row {
	margin-left: -15px;
	margin-right: -15px;
}

.post .img-thumbnail {
	height: 125px;
	width: 100%;
	object-fit: cover;
}

.post .feeditems {
	margin-top: .5rem;
}

.video .img-thumbnail {
	height: 225px;
	width: 100%;
	object-fit: cover;
}

.video h4,
.podcast h4 {
	margin-bottom: 5px;
}

.podcast .img-thumbnail {
	height: 200px;
	width: 100%;
	object-fit: cover;
}

.feeditem .video-player {
	margin-bottom: 21px;
}

.audio-player {
	margin-top: 10.5px;
	margin-bottom: 10.5px;
}

.audio-player audio {
	max-width: 95%;
	height: 35px;
}

.video-player {
	position: relative;
	padding-bottom: 56.23%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	background: #000;
	margin: 0;
}

.video-player iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: transparent;
}

.video-player img {
	bottom: 0;
	display: block;
	left: 0;
	margin: auto;
	max-width: 100%;
	width: 100%;
	position: absolute;
	right: 0;
	top: 0;
	border: none;
	height: auto;
	cursor: pointer;
	-webkit-transition: .4s all;
	-moz-transition: .4s all;
	transition: .4s all;
}

.video-player img:hover {
	-webkit-filter: brightness(75%);
	filter: brightness(75%);
}

.video-player .play {
	height: 72px;
	width: 72px;
	left: 50%;
	top: 50%;
	margin-left: -36px;
	margin-top: -36px;
	position: absolute;
	background: url("../images/video-play.png") no-repeat;
	cursor: pointer;
}

.row.display-flex {
	display: flex;
	flex-wrap: wrap;
}

.row.display-flex>[class*='col-'] {
	display: flex;
	flex-direction: column;
	margin-bottom: 2.5rem;
}